extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //-  Profile Name.
        h1 Muhammad Anwar ul Haq

        //- Title
        p.lead.text-light
          | Full Stack JavaScript Developer and Web Designer

        //- My Profile Bio.
        .portfolio-bio
          p
            | I love the web and as a hybrid web developer, I am a one part designer, one part coder, and all parts committed to achieve excellence. My role consists of website design, development, and helping to rethink how websites are built. Trusted strategic and tactical business leader with a track record of establishing strong and loyal client relationships.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- List of My Skills.
        ul
          li HTML
          li CSS3
          li JavaScript
          li JQuery
          li React
          li Git 
        h6 Contact Info

        //- My Contact information
        ul
          li 353-83-1306045
          li anwarire@gmail.com

        //- link to my social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/muhammad-anwar-ul-haq-1842bbb8/') LinkedIn
        a.button.expanded(href='https://github.com/anwarulhaq123') GitHub
        a.button.expanded(href='https://twitter.com/home') Twitter
  nav.gr 
  id-container.portfolio-breadcrumb
  a(href='/') ← Back
  